<?xml version="1.0" encoding="UTF-8"?>
<included>
  <property name="syslog_host" value="127.0.0.1"/>
  <property name="syslog_port" value="514"/>
  <property name="syslog_facility" value="LOCAL4"/>
  <property resource="application.properties"/>

  <appender name="SYSLOG" class="ee.telia.logback.syslog.RFC5424SyslogAppender">
    <syslogHost>${syslog_host}</syslogHost>
    <port>${syslog_port}</port>
    <rfc5424>true</rfc5424>
    <facility>${syslog_facility}</facility>
    <hostname>${HOSTNAME}</hostname>
    <appName>${APPLICATION_CI_NAME}</appName>
    <messageId>${MDC_SYSLOG_MESSAGE_ID}</messageId>
    <structuredDataId>httpreq</structuredDataId>
    <structuredDataKeys>JobName,RemoteAddr</structuredDataKeys>
    <suffixPattern>%thread: %logger{36} - %replace(%msg){'\r?\n', ''}%n</suffixPattern>
  </appender>

  <appender class="ch.qos.logback.classic.AsyncAppender" name="ASYNCSYSLOG">
    <discardingThreshold>0</discardingThreshold>
    <appender-ref ref="SYSLOG"/>
  </appender>

</included>
